@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Serif&display=swap');
:root{
  --primary-color: #2D3E33;
  --secondary-color: #C5A059;
  --tertirany-color: #F5F2ED;
  --neutral: #F9F7F2;
  --background-color: #E2F6E6;
  --font-heading: 'Noto Serif', serif;
  --font-body: 'Manrope', sans-serif;
}